body {
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/1003/315/desktop-wallpaper-6-adtr-neck-deep.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: 'Sedgwick Ave Display', cursive;
}

h2 {
    font-size: 20px;
    font-family: 'Sedgwick Ave Display', cursive;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid #4f155e;
    background: #8d2f58;
    color: #fdfaf7;
    box-shadow: 1px 1px 2px #C69B7B;
    border-radius: 75px;
    padding: 3px 10px;
    cursor: pointer;
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
}